<div class="flex flex-col items-center text-center justify-center h-screen">
	<h1 class="text-4xl font-bold">Welcome to Astro Boilerplate</h1>
	<p class="text-lg">This is a simple boilerplate for Astro projects.</p>
</div>
