---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const classes = `text-muted-foreground text-sm ${className || ''}`;
---

<p
  data-slot="alert-dialog-description"
  class={classes}
>
  <slot />
</p>
