---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const classes = `text-muted-foreground text-sm ${className || ''}`;
---

<div
  data-slot="card-description"
  class={classes}
>
  <slot />
</div>
