---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const classes = `col-start-2 row-span-2 row-start-1 self-start justify-self-end ${className || ''}`;
---

<div
  data-slot="card-action"
  class={classes}
>
  <slot />
</div>
